.addFriend-comp-wrapper {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.addFriend-comp-wrapper .inner-addFriend-comp-wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.addFriend-comp-wrapper .inner-addFriend-comp-wrapper .closebutton {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 100%;

  display: flex;
  justify-content: flex-end;
}

.closebutton a:hover,
.closebutton a {
  text-decoration: none;
  cursor: pointer;
}

.close-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-right: 90px;
  margin-top: 30px;
}

.close-container .wrapperbutton {
  position: relative;
  width: 30px;
  height: 30px;
}

.leftright {
  height: 3px;
  width: 30px;
  position: absolute;
  margin-top: 14px;
  background-color: white;
  border-radius: 2px;
  transform: rotate(45deg);
  transition: all 0.3s ease-in;
}

.rightleft {
  height: 3px;
  width: 30px;
  position: absolute;
  margin-top: 14px;
  background-color: white;
  border-radius: 2px;
  transform: rotate(-45deg);
  transition: all 0.3s ease-in;
}

label.close {
  cursor: pointer;
  color: white;
  font-size: 8px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease-in;
  opacity: 0;
  text-decoration: none;

  margin-top: 5px;
}

.close-container:hover .leftright {
  transform: rotate(-45deg);
  background-color: #db4437;
}

.close-container:hover .rightleft {
  transform: rotate(45deg);
  background-color: #db4437;
}

.close-container:hover label {
  opacity: 1;
}

.addFriend-comp-wrapper .inner-addFriend-comp-wrapper .main-addFriend {
  height: 600px;
  max-height: 600px;
  width: 700px;
  max-width: 700px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: white;
  border-radius: 30px;
  padding: 30px 20px;
}

.searchBar {
  width: 100%;
}

.searchBar form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchBar form .searchPane {
  width: 100%;
  background-color: var(--textbox-grey);
  border-radius: 20px;

  padding: 0px 10px;
}

.searchBar form .searchPane input {
  border: none;
  background-color: transparent;
}

.searchBar form .search-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
}

.searchBar form .search-button svg {
  width: 20px;
}

.resultPane {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  overflow: hidden;
}

.resultPane .result-field-wrapper {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.resultPane .result-field-wrapper .inner-result-field {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.resultPane .result-field-wrapper .inner-result-field .result-wrapper {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  height: fit-content;
  padding: 10px;
  margin: 10px 5px 5px 5px;
  max-width: 250px;
  min-width: 250px;
}

.result-wrapper .inner-result-wrapper {
  display: flex;
  align-items: center;
}

.result-wrapper .inner-result-wrapper .user-info-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0px 5px;
}

.user-info-wrapper .user-displayName {
  width: 100%;
}

.user-info-wrapper .user-displayName .inner-displayName {
  max-width: 150px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.user-info-wrapper .action-button-wrapper .addFriend-icon-button {
  background: transparent;
  border: none;
  padding: 0px;
}

.user-info-wrapper .action-button-wrapper .addFriend-icon-button i {
  color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 950px) {
  .close-container {
    margin-right: 50px;
  }
}

@media (max-width: 600px) {
  .close-container {
    margin-right: 30px;
  }
}
@media all and (max-width: 540px) and (min-width: 500px) {
  .close-container {
    margin-right: 20px;
  }
}

@media all and (max-width: 500px) and (min-width: 200px) {
  .close-container {
    margin-right: 20px;
  }
}
