.chat-room {
  overflow: hidden;
  height: 100%;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.chat-room .header {
  width: 100%;
  padding: 10px 20px;
  background: rgba(194, 189, 189, 0.16);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.chat-room .header .header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.chat-room .header .header-wrapper .inner-header-displayInfo {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  padding: 0px 10px;
}

.chat-room .header .alert-status-wrapper {
  width: 100%;
  height: auto;
  margin: 12px 0px 0px 0px;
}

.inner-header-displayInfo .displayStatus-wrapper {
  font-weight: 200;
}

.inner-header-displayInfo .displayName-wrapper,
.inner-header-displayInfo .displayStatus-wrapper {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.chat-room .main-chat-room {
  width: 100%;
  height: 100%;
  overflow: hidden;
  order: 2;
}

.alert-status-wrapper .inner-alert-status {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  background: rgba(194, 189, 189, 0.16);
}

.alert-status-wrapper .inner-alert-status .action-btn {
  width: 100%;

  display: flex;
}

.alert-status-wrapper .inner-alert-status .action-btn .line {
  height: 25px;
  width: 1px;
  background-color: white;
}

.alert-status-wrapper .inner-alert-status .action-btn button {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all ease 0.2sv;
  padding: 5px;
  border: none;
  color: white;
}

.alert-status-wrapper .inner-alert-status .action-btn .block:hover {
  background-color: rgba(230, 0, 57, 1) !important;
}

.alert-status-wrapper .inner-alert-status .action-btn button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.chat-room .main-chat-room {
  position: relative;
}

.chat-room .main-chat-room span .scrollBottom {
  position: absolute;
  bottom: 17px;
  right: 11px;
  z-index: 200;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--incoming-background);
  box-shadow: 0 1px 1px 0 rgba(var(--shadow-rgb), 0.06),
    0 2px 5px 0 rgba(var(--shadow-rgb), 0.2);
  cursor: pointer;
}

.chat-room .main-chat-room span .scrollBottom .unread {
  position: absolute;
  top: -5px;
  left: -5px;
}

.chat-room .main-chat-room span .scrollBottom .unread .unread-marker {
  background-color: var(--unread-marker-background);
  font-size: 12px;
  color: white;
  border-radius: 1.1em;
  padding: 3px 5px;
  text-align: center;
}

.chat-room .main-chat-room .chat-display-wrapper {
  position: relative;
  width: 100%;
  height: 100%;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.02);
}

.chat-room .main-chat-room .chat-display-wrapper .chatroom-date-sep {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2px;
  margin-bottom: 5px;
}

.chatroom-date-sep .inner-date-sep {
  width: auto;
  padding: 5px 12px 6px;
  border-radius: 7.5px;
  background-color: var(--system-message-background);
  box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
}

.chat-room .main-chat-room .chat-display-wrapper .unread-notif {
  width: 100%;
  height: auto;
  padding-left: 40px;
  text-align: center;
  background-color: var(--unread-message-background);
  margin-bottom: 12px;
  padding: 5px 0;
  font-size: 12.5px;
}

.chat-room .main-chat-room .chat-display-wrapper .unread-notif span {
  padding: 0px 22px;
  border-radius: 16px;
  background-color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  display: inline-block;
  font-weight: 500;
  height: 33px;
  line-height: 33px;
  max-width: 90%;
  vertical-align: top;
  cursor: pointer;
  pointer-events: none;
}

.chat-room .main-chat-room .chat-display-wrapper .m-wrapper {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  height: auto;
  display: flex;
  align-items: flex-end;
}

.chat-room .main-chat-room .chat-display-wrapper .comp-messageOut {
  justify-content: flex-end;
}

.inner-m-wrapper {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 500px;
  padding: 8px 20px;
  height: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.chat-room
  .main-chat-room
  .chat-display-wrapper
  .comp-messageIn
  .inner-m-wrapper.tail {
  border-top-left-radius: 0px;
  margin-left: 0px;
  margin-top: 0px;
}

.chat-room
  .main-chat-room
  .chat-display-wrapper
  .comp-messageIn
  .inner-m-wrapper {
  background-color: rgba(141, 138, 138, 0.486);
  color: black;

  border-radius: 20px;
  margin-bottom: 2px;
  margin-left: 3px;
  margin-top: 3px;
}

.chat-room
  .main-chat-room
  .chat-display-wrapper
  .comp-messageOut
  .inner-m-wrapper.tail {
  border-top-right-radius: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

.chat-room
  .main-chat-room
  .chat-display-wrapper
  .comp-messageOut
  .inner-m-wrapper {
  background-color: rgb(15, 157, 88);
  color: black;

  border-radius: 20px;
  margin-bottom: 2px;
  margin-right: 3px;
  margin-top: 3px;

  position: relative;
  float: right;
}

.time-wrapper {
  width: auto;
  height: auto;
  padding-bottom: 1px;
}

.comp-messageIn .time-wrapper .time {
  margin-left: 5px;
}

.comp-messageOut .time-wrapper .time {
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.time-wrapper .time span {
  font-size: 11px;
  font-weight: 300;
}

.chat-room .footer {
  margin-top: auto;
  width: 100%;
  flex: none;
  order: 3;
  min-height: 62px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.chat-room .footer .footer-wrapper {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px 10px;
  min-height: 62px;
  box-sizing: border-box;

  background: rgba(194, 189, 189, 0.16);
}

.chat-room .footer .footer-wrapper .input-message-bar {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
  background-color: white;
  border-radius: 40px;
  padding: 9px 12px 11px 12px;
  margin: 5px 10px;
  display: flex;
  height: auto;
  line-height: 20px;
  min-height: 20px;
  will-change: width;
  z-index: 2;
}

.chat-room .footer .footer-wrapper .input-message-bar .inner-input-message {
  display: flex;
  flex: 1;

  cursor: text;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: column;
  position: relative;
}

.chat-room
  .footer
  .footer-wrapper
  .input-message-bar
  .inner-input-message
  .placeholder {
  color: var(--input-placeholder);
  font-size: 15px;
  line-height: 20px;
  pointer-events: none;
  position: absolute;
  top: 0px;
  left: 2px;
  transition: opacity 0.08s linear;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 100;
  z-index: 2;
}

.chat-room
  .footer
  .footer-wrapper
  .input-message-bar
  .inner-input-message
  .input-bar {
  border: none;
  width: 100%;
  font-size: 15px;
  font-weight: normal;
  max-height: 100px;
  min-height: 20px;
  outline: none;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  box-sizing: border-box;
  padding: 0px;
  cursor: text;
}

.chat-room
  .footer
  .footer-wrapper
  .input-message-bar
  .inner-input-message
  .input-bar:focus {
  cursor: text;
}

.chat-room .footer .footer-wrapper .icon-wrapper {
  cursor: pointer;

  padding: 0px 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;

  vertical-align: baseline;
}

.chat-room .footer .footer-wrapper .icon-wrapper button {
  border: none;
  background: transparent;
  padding: 0px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.chat-room .footer .footer-wrapper .icon-wrapper svg.paper-plane {
  width: 25px;
}

.chat-room .footer .footer-wrapper .icon-wrapper svg {
  width: 35px;
}

.chat-room .footer .footer-wrapper .icon-wrapper svg path {
  fill: rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 648px) {
  .chat-room .header .header-wrapper .inner-header-displayInfo {
    padding: 0px;
  }

  .chat-room
    .header
    .header-wrapper
    .inner-header-displayInfo
    .displayName-wrapper,
  .chat-room
    .header
    .header-wrapper
    .inner-header-displayInfo
    .displayStatus-wrapper {
    max-width: 190px;
  }

  .time-wrapper {
    min-width: 50px;
  }

  .chat-room .main-chat-room .chat-display-wrapper .m-wrapper .inner-m-wrapper {
    font-size: 13px;
  }

  .chatroom-date-sep .inner-date-sep {
    font-size: 13px;
  }
}
