.cxroom {
  display: flex;
  padding: 15px 20px;
  align-items: center;

  cursor: pointer;
}

.cxroom:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.cxroom .displayer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cxroom .display-name {
  display: flex;
  width: 100%;
}

.cxroom .display-name .inner-displayName {
  max-width: 290px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cxroom .display-chat {
  display: flex;
  width: 100%;
}

.cxroom .display-chat .chat-item {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 290px;

  color: rgba(0, 0, 0, 0.7);
}
