.cxroom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
  color: black;
}

.cxroom:hover {
  background-color: rgba(0, 0, 0, 0.05);
  text-decoration: none;
  color: black;
}

.cxroom .displayer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}

.cxroom .display-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.cxroom .display-name .inner-displayName {
  max-width: 290px;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.cxroom .display-chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.cxroom .display-chat .chat-item {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  max-width: 290px;

  color: rgba(0, 0, 0, 0.7);
}
