.cxroom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
  color: black;
  height: 72px;
}

.cxroom .avatar-wrapper {
  padding: 0 15px 0 13px;
}

.cxroom .avatar-wrapper .profile-avatar {
  margin: 0px !important;
}

.cxroom:hover {
  background-color: rgba(0, 0, 0, 0.05);
  text-decoration: none;
  color: black;
}

.cxroom .displayer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding-right: 15px;
}

.cxroom .display-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
}

.cxroom .display-name .display-name-wrapper {
  flex: 1;
}

.cxroom .display-name .inner-displayName {
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  max-width: 272px;
}

.cxroom .display-name .inner-displayName span {
  flex-grow: 1;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cxroom .display-name .display-time {
  position: relative;
  margin-left: 6px;
  margin-top: 3px;
  font-size: 12px;
}

.cxroom .display-chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  width: 100%;
}

.cxroom .display-chat .chat-item {
  flex: 1;
  width: 100%;
}

.cxroom .display-chat .chat-item .inner-chat-item {
  font-size: 13px;
  background-color: transparent;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  color: rgba(0, 0, 0, 0.7);
}

.cxroom .display-chat .notif {
  margin-left: 6px;
  flex: none;
  font-size: 12px;
  max-width: 100%;
  overflow: hidden;
}

.cxroom .display-chat .notif .inner-notif {
  display: inline-block;
  color: rgba(0, 0, 0, 0.3);
  vertical-align: top;
  height: 100%;
  width: 100%;
}

.cxroom .display-chat .notif .inner-notif .sum-notif {
  color: #ffffff;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.1em;
  min-height: 1em;
  min-width: 0.9em;
  vertical-align: top;

  background-color: #06d755;
  border-radius: 17px;
  padding: 5px 7px;
  text-align: center;
}

@media screen and (max-width: 1300px) and (min-width: 1025px) {
  .cxroom .display-chat .chat-item .inner-chat-item {
    max-width: 250px;
  }
  .cxroom .display-chat .display-name .inner-displayName {
    max-width: 230px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 901px) {
  .main-wrapper .wrapper .row .main-page {
    -webkit-box-flex: 65%;
    -ms-flex: 65%;
    flex: 65%;
  }
  .main-wrapper .wrapper .row .sider {
    -webkit-box-flex: 35%;
    -ms-flex: 35%;
    flex: 35%;
  }
  .cxroom .display-chat .chat-item .inner-chat-item {
    max-width: 250px;
  }
}

@media screen and (max-width: 900px) {
  .cxroom .display-chat .chat-item .inner-chat-item {
    max-width: 230px;
  }
}

@media screen and (max-width: 648px) {
  .cxroom .display-chat .chat-item .inner-chat-item {
    max-width: 190px;
  }
}
