.navbar-wrapper .main-nav .nav-wrapper {
  right: 5%;
}

.profile-avatar {
  cursor: pointer;
}

.profile-nav-wrapper {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;

  height: -webkit-fit-content;

  height: -moz-fit-content;

  height: fit-content;
  max-width: 400px;
  min-width: 400px;

  top: 110%;
  left: auto;
  right: 0%;
}

.profile-nav {
  width: 300px;
  max-width: 300px;
  min-width: 300px;

  margin-top: 10px;

  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 3px;
  box-shadow: 0px 1px 3px;

  -webkit-transition: all ease-in 1s;

  -o-transition: all ease-in 1s;

  transition: all ease-in 1s;
}

.profile-nav .nav .nav-item {
  width: 100%;
}

.profile-nav .nav .nav-profile-item {
  padding: 5px;
}

.profile-nav .nav .nav-profile-item .nav-link {
  color: black;
  display: flex;
  align-items: center;
}

.profile-nav .nav .nav-profile-item .nav-link svg {
  width: 20px;
}

.profile-nav .nav .nav-item-separator {
  height: 1px;
  width: 100%;

  border: none;
  border-bottom: 1px solid #e6e8eb;

  margin: 0px;
}

.profile-nav .nav .nav-profile-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.profile-nav .nav .nav-item .header-profile-nav {
  padding: 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-profile-nav .displayName {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-profile-nav .displayName .inner-displayName {
  max-width: 220px;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}
