.main-wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.main-wrapper .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.main-wrapper .wrapper .row {
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex-wrap: nowrap;

  padding: 0px 90px 30px 90px;
}

.main-wrapper .wrapper .row .sider {
  flex: 30%;
  display: flex;
  flex-direction: column;

  height: 100%;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 0px;
}

.sider .search-bar {
  display: flex;
  padding: 15px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(194, 189, 189, 0.16);
}

.sider .search-bar .inner-search-bar {
  display: flex;
  width: 100%;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background: white;
}

.sider .search-bar .inner-search-bar .search-icon {
  flex: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sider .search-bar .inner-search-bar .search-icon svg {
  width: 20px;
  height: 20px;
}

.sider .search-icon svg path {
  fill: rgba(0, 0, 0, 0.1);
}

.sider .search-bar .inner-search-bar .search-bar-wrapper {
  padding: 0px 15px 0px 0px;
  flex: 90%;
}

.sider .search-bar .inner-search-bar .search-bar-wrapper input {
  border: none;
  background-color: transparent;
}

.sider .pane-side {
  overflow-y: auto;
}

.sider .pane-side .inner-pane-side {
  vertical-align: baseline;
}

.main-wrapper .wrapper .row .main-page {
  flex: 70%;
  height: 100%;
  min-width: 470px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);

  overflow: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.9);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(194, 189, 189, 0.5);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(194, 189, 189, 0.9);
}

@media screen and (max-width: 1300px) and (min-width: 1025px) {
  .main-wrapper .wrapper .row .main-page {
    flex: 65%;
  }
  .main-wrapper .wrapper .row .sider {
    flex: 35%;
  }

  .cxroom .display-chat .chat-item {
    max-width: 250px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 901px) {
  .main-wrapper .wrapper .row .main-page {
    flex: 65%;
  }
  .main-wrapper .wrapper .row .sider {
    flex: 35%;
  }
  .cxroom .display-chat .chat-item {
    max-width: 250px;
  }
}

@media screen and (max-width: 900px) {
  .main-wrapper .wrapper .row .main-page {
    flex: 60%;
  }
  .main-wrapper .wrapper .row .sider {
    flex: 40%;
  }
  .cxroom .display-chat .chat-item {
    max-width: 230px;
  }
}

@media (max-width: 1441px) {
  .main-wrapper .wrapper .row {
    padding: 0px !important;
  }
}

@media screen and (max-width: 648px) {
  .main-wrapper .wrapper .row {
    padding: 0px !important;
    overflow-x: scroll;
  }

  .sider .search-bar {
    padding: 15px 8px;
  }

  .cxroom .display-chat .chat-item {
    max-width: 190px;
  }

  .main-wrapper .wrapper .row .main-page {
    min-width: 382px;
  }

  .chat-room .header .header-wrapper .inner-header-displayInfo {
    padding: 0px;
  }

  .chat-room
    .header
    .header-wrapper
    .inner-header-displayInfo
    .displayName-wrapper,
  .chat-room
    .header
    .header-wrapper
    .inner-header-displayInfo
    .displayStatus-wrapper {
    max-width: 190px;
  }
}
