.main-wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.main-wrapper .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.main-wrapper .wrapper .row {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;

  padding: 0px 65px;
}

.main-wrapper .wrapper .row .sider {
  -webkit-box-flex: 30%;
  -ms-flex: 30%;
  flex: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  height: 100%;
  background-color: white;
  border: 1px solid var(--thin-black-background);
  border-right: 0px;
}

.sider {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 345px;
}

.sider .search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;

  border-bottom: 1px solid var(--thin-black-background);
  background: rgba(194, 189, 189, 0.16);
}

.sider .search-bar .inner-search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;

  border: 1px solid var(--thin-black-background);
  border-radius: 20px;
  background: white;
}

.sider .search-bar .inner-search-bar .search-icon {
  -webkit-box-flex: 10%;
  -ms-flex: 10%;
  flex: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.sider .search-bar .inner-search-bar .search-icon svg {
  width: 20px;
  height: 20px;
}

.sider .search-icon svg path {
  fill: var(--thin-black-background);
}

.sider .search-bar .inner-search-bar .search-bar-wrapper {
  padding: 0px 15px 0px 0px;
  -webkit-box-flex: 90%;
  -ms-flex: 90%;
  flex: 90%;
}

.sider .search-bar .inner-search-bar .search-bar-wrapper input {
  border: none;
  background-color: transparent;
}

.sider .pane-side {
  overflow-y: auto;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.sider .pane-side .inner-pane-side {
  vertical-align: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sider .taskbar-side {
  width: 100%;
}

.sider .taskbar-side .inner-taskbar {
  width: 100%;
  display: flex;
}

.sider .taskbar-side .inner-taskbar .taskbar-btn {
  flex: 1;

  background-color: white;
  border: none;
  border-top: 1px solid var(--thin-black-background);

  padding: 16px 10px;
}

.sider .taskbar-side .inner-taskbar .taskbar-btn:nth-child(1) {
  border-right: 1px solid var(--thin-black-background);
}

.sider .taskbar-side .inner-taskbar .taskbar-btn svg {
  width: 30px;

  cursor: pointer;
  pointer-events: none;
}

.sider .taskbar-side .inner-taskbar .taskbar-btn svg path {
  fill: rgba(0, 0, 0, 0.5);
}

.main-wrapper .wrapper .row .main-page {
  -webkit-box-flex: 70%;
  -ms-flex: 70%;
  flex: 70%;
  height: 100%;
  min-width: 470px;
  background-color: white;
  border: 1px solid var(--thin-black-background);

  overflow: hidden;
}

.main-wrapper .wrapper .row .user-info {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  width: auto;
  border: 1px solid var(--thin-black-background);
}

.user-info .user-info-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: rgba(194, 189, 189, 0.16);
}

.user-info .user-info-wrapper .header-user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 71px;
  min-height: 71px;

  padding-right: 20px;
  padding-left: 25px;
  border-bottom: 1px solid var(--thin-black-background);
  background: rgba(194, 189, 189, 0.16);
}

.user-info .user-info-wrapper .header-user-info .button-close {
  width: 54px;
}

.button-close button {
  position: relative;
  float: left;
}

.user-info .user-info-wrapper .header-user-info .title {
  flex: 1;
  font-size: 16px;
  line-height: normal;
  font-weight: 400;
}

.user-info .user-info-wrapper .footer-user-info {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  flex: 1;
  opacity: 1;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.9);
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.9);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(194, 189, 189, 0.5);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(194, 189, 189, 0.9);
}

@media screen and (max-width: 1300px) and (min-width: 1025px) {
  .main-wrapper .wrapper .row .main-page {
    -webkit-box-flex: 65%;
    -ms-flex: 65%;
    flex: 65%;
  }
  .main-wrapper .wrapper .row .sider {
    -webkit-box-flex: 35%;
    -ms-flex: 35%;
    flex: 35%;
  }
}

@media screen and (max-width: 1024px) and (min-width: 901px) {
  .main-wrapper .wrapper .row .main-page {
    -webkit-box-flex: 65%;
    -ms-flex: 65%;
    flex: 65%;
  }
  .main-wrapper .wrapper .row .sider {
    -webkit-box-flex: 35%;
    -ms-flex: 35%;
    flex: 35%;
  }
}

@media (max-width: 1441px) {
  .main-wrapper .wrapper .row {
    padding: 0px !important;
  }
}

@media screen and (max-width: 648px) {
  .main-wrapper .wrapper .row {
    padding: 0px !important;
    overflow-x: scroll;
  }

  .sider .search-bar {
    padding: 15px 8px;
  }

  .main-wrapper .wrapper .row .main-page {
    min-width: 382px;
  }
}

.delete-modal-popup {
  z-index: 1000;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--wrapper-background);

  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-modal-popup .delete-modal-wrapper {
  width: 400px;
  max-width: 400px;
  min-width: 300px;
  background-color: var(--modal-background);
  border-radius: 3px;
  box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19),
    0 12px 15px 0 rgba(0, 0, 0, 0.24);
  padding: 22px 24px 20px 24px;

  display: flex;
  flex-direction: column;
  flex: none;
}

.delete-modal-popup .delete-modal-wrapper:hover {
  box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19),
    0 12px 15px 0 rgba(0, 0, 0, 0.24) !important;
}

.delete-modal-popup .delete-modal-wrapper .inner-wrapper {
  flex: 1 1 100%;
}

.delete-modal-popup .delete-modal-wrapper .inner-wrapper .notif-title {
  font-size: 14.2px;
  line-height: 20px;
}

.delete-modal-popup .delete-modal-wrapper .inner-wrapper .action-button {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: flex-end;
  overflow: hidden;
  white-space: nowrap;
  text-align: right;

  padding: 50px 5px 0px 5px;
}

.delete-modal-popup .delete-modal-wrapper .inner-wrapper .action-button div {
  cursor: pointer;

  padding: 10px 24px;
  border-radius: 3px;
  margin-bottom: 5px;

  font-size: 14px;

  transition: all ease 0.2s;
}

.delete-modal-popup
  .delete-modal-wrapper
  .inner-wrapper
  .action-button
  div.cancel {
  color: var(--button-primary-background);
}

.delete-modal-popup
  .delete-modal-wrapper
  .inner-wrapper
  .action-button
  div.delete {
  color: white;
  background-color: var(--button-primary-background);
  margin-left: 4px;
}

.delete-modal-popup
  .delete-modal-wrapper
  .inner-wrapper
  .action-button
  div:hover {
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.19) !important;
}
