@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .container {
    height: 100% !important;
  }

  .navbar-brand {
    font-size: 45px !important;
  }

  .navbar-brand span {
    font-size: 16px !important;
  }

  .register {
    margin-top: 70px;
  }

  .authuser .row {
    margin-bottom: 30px;
  }

  .authuser .row .col .title p {
    max-width: 300px;
    min-width: 300px;
    font-size: 40px;
  }

  .authuser .row .col .wrapper-auth {
    min-width: 350px;
    max-width: 350px;
  }

  .authuser .row .col form {
    margin-bottom: 20px;
    min-width: 270px;
    max-width: 270px;
  }
}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .container {
    height: 100% !important;
  }

  .navbar-brand {
    font-size: 45px !important;
  }

  .navbar-brand span {
    font-size: 16px !important;
  }

  .register {
    margin-top: 70px;
  }

  .authuser .row {
    margin-bottom: 30px;
  }

  .authuser .row .col .title p {
    max-width: 300px;
    min-width: 300px;
    font-size: 40px;
  }

  .authuser .row .col .wrapper-auth {
    min-width: 350px;
    max-width: 350px;
  }

  .authuser .row .col form {
    margin-bottom: 20px;
    min-width: 270px;
    max-width: 270px;
  }
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .container {
    height: 100% !important;
  }

  .navbar-brand {
    font-size: 45px !important;
  }

  .navbar-brand span {
    font-size: 16px !important;
  }

  .register {
    margin-top: 70px;
  }

  .authuser .row {
    margin-bottom: 30px;
  }

  .authuser .row .col .title p {
    max-width: 300px;
    min-width: 300px;
    font-size: 40px;
  }

  .authuser .row .col .wrapper-auth {
    min-width: 350px;
    max-width: 350px;
  }

  .authuser .row .col form {
    margin-bottom: 20px;
    min-width: 270px;
    max-width: 270px;
  }
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .container {
    height: 100% !important;
  }

  .navbar-brand {
    font-size: 45px !important;
  }

  .navbar-brand span {
    font-size: 16px !important;
  }

  .register {
    margin-top: 70px;
  }

  .authuser .row {
    margin-bottom: 30px;
  }

  .authuser .row .col .title p {
    max-width: 300px;
    min-width: 300px;
    font-size: 40px;
  }

  .authuser .row .col .wrapper-auth {
    min-width: 350px;
    max-width: 350px;
  }

  .authuser .row .col form {
    margin-bottom: 20px;
    min-width: 270px;
    max-width: 270px;
  }
}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .container {
    height: 100% !important;
  }

  .navbar-brand {
    font-size: 45px !important;
  }

  .navbar-brand span {
    font-size: 16px !important;
  }

  .register {
    margin-top: 70px;
  }

  .authuser .row {
    margin-bottom: 30px;
  }

  .authuser .row .col .title p {
    max-width: 300px;
    min-width: 300px;
    font-size: 40px;
  }

  .authuser .row .col .wrapper-auth {
    min-width: 350px;
    max-width: 350px;
  }

  .authuser .row .col form {
    margin-bottom: 20px;
    min-width: 270px;
    max-width: 270px;
  }
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .container {
    height: 100% !important;
  }

  .navbar-brand {
    font-size: 45px !important;
  }

  .navbar-brand span {
    font-size: 16px !important;
  }

  .register {
    margin-top: 70px;
  }

  .authuser .row {
    margin-bottom: 30px;
  }

  .authuser .row .col .title p {
    max-width: 300px;
    min-width: 300px;
    font-size: 40px;
  }

  .authuser .row .col .wrapper-auth {
    min-width: 350px;
    max-width: 350px;
  }

  .authuser .row .col form {
    margin-bottom: 20px;
    min-width: 270px;
    max-width: 270px;
  }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .container {
    height: 100% !important;
  }

  .navbar-brand {
    font-size: 45px !important;
  }

  .navbar-brand span {
    font-size: 16px !important;
  }

  .register {
    margin-top: 70px;
  }

  .authuser .row {
    margin-bottom: 30px;
  }

  .authuser .row .col .title p {
    max-width: 300px;
    min-width: 300px;
    font-size: 40px;
  }

  .authuser .row .col .wrapper-auth {
    min-width: 350px;
    max-width: 350px;
  }

  .authuser .row .col form {
    margin-bottom: 20px;
    min-width: 270px;
    max-width: 270px;
  }
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .container {
    height: 100% !important;
  }

  .navbar-brand {
    font-size: 45px !important;
  }

  .navbar-brand span {
    font-size: 16px !important;
  }

  .register {
    margin-top: 70px;
  }

  .authuser .row {
    margin-bottom: 30px;
  }

  .authuser .row .col .title p {
    max-width: 300px;
    min-width: 300px;
    font-size: 40px;
  }

  .authuser .row .col .wrapper-auth {
    min-width: 350px;
    max-width: 350px;
  }

  .authuser .row .col form {
    margin-bottom: 20px;
    min-width: 270px;
    max-width: 270px;
  }
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .container {
    height: 100% !important;
  }

  .navbar-brand {
    font-size: 45px !important;
  }

  .navbar-brand span {
    font-size: 16px !important;
  }

  .register {
    margin-top: 70px;
  }

  .authuser .row {
    margin-bottom: 30px;
  }

  .authuser .row .col .title p {
    max-width: 300px;
    min-width: 300px;
    font-size: 40px;
  }

  .authuser .row .col .wrapper-auth {
    min-width: 350px;
    max-width: 350px;
  }

  .authuser .row .col form {
    margin-bottom: 20px;
    min-width: 270px;
    max-width: 270px;
  }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  .container {
    height: 100% !important;
  }

  .navbar-brand {
    font-size: 45px !important;
  }

  .navbar-brand span {
    font-size: 16px !important;
  }

  .register {
    margin-top: 70px;
  }

  .authuser .row {
    margin-bottom: 30px;
  }

  .authuser .row .col .title p {
    max-width: 300px;
    min-width: 300px;
    font-size: 40px;
  }

  .authuser .row .col .wrapper-auth {
    min-width: 350px;
    max-width: 350px;
  }

  .authuser .row .col form {
    margin-bottom: 20px;
    min-width: 270px;
    max-width: 270px;
  }
}

/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .container {
    height: 100% !important;
  }

  .navbar-brand {
    font-size: 45px !important;
  }

  .navbar-brand span {
    font-size: 16px !important;
  }

  .register {
    margin-top: 70px;
  }

  .authuser .row {
    margin-bottom: 30px;
  }

  .authuser .row .col .title p {
    max-width: 300px;
    min-width: 300px;
    font-size: 40px;
  }

  .authuser .row .col .wrapper-auth {
    min-width: 350px;
    max-width: 350px;
  }

  .authuser .row .col form {
    margin-bottom: 20px;
    min-width: 270px;
    max-width: 270px;
  }
}

/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .container {
    height: 100% !important;
  }

  .navbar-brand {
    font-size: 45px !important;
  }

  .navbar-brand span {
    font-size: 16px !important;
  }

  .register {
    margin-top: 70px;
  }

  .authuser .row {
    margin-bottom: 30px;
  }

  .authuser .row .col .title p {
    max-width: 300px;
    min-width: 300px;
    font-size: 40px;
  }

  .authuser .row .col .wrapper-auth {
    min-width: 350px;
    max-width: 350px;
  }

  .authuser .row .col form {
    margin-bottom: 20px;
    min-width: 270px;
    max-width: 270px;
  }
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .container {
    height: 100% !important;
  }

  .navbar-brand {
    font-size: 45px !important;
  }

  .navbar-brand span {
    font-size: 16px !important;
  }

  .register {
    margin-top: 70px;
  }

  .authuser .row {
    margin-bottom: 30px;
  }

  .authuser .row .col .title p {
    max-width: 300px;
    min-width: 300px;
    font-size: 40px;
  }

  .authuser .row .col .wrapper-auth {
    min-width: 350px;
    max-width: 350px;
  }

  .authuser .row .col form {
    margin-bottom: 20px;
    min-width: 270px;
    max-width: 270px;
  }
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .container {
    height: 100% !important;
  }

  .navbar-brand {
    font-size: 45px !important;
  }

  .navbar-brand span {
    font-size: 16px !important;
  }

  .register {
    margin-top: 70px;
  }

  .authuser .row {
    margin-bottom: 30px;
  }

  .authuser .row .col .title p {
    max-width: 300px;
    min-width: 300px;
    font-size: 40px;
  }

  .authuser .row .col .wrapper-auth {
    min-width: 350px;
    max-width: 350px;
  }

  .authuser .row .col form {
    margin-bottom: 20px;
    min-width: 270px;
    max-width: 270px;
  }
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .container {
    height: 100% !important;
  }

  .navbar-brand {
    font-size: 45px !important;
  }

  .navbar-brand span {
    font-size: 16px !important;
  }

  .register {
    margin-top: 70px;
  }

  .authuser .row {
    margin-bottom: 30px;
  }

  .authuser .row .col .title p {
    max-width: 300px;
    min-width: 300px;
    font-size: 40px;
  }

  .authuser .row .col .wrapper-auth {
    min-width: 350px;
    max-width: 350px;
  }

  .authuser .row .col form {
    margin-bottom: 20px;
    min-width: 270px;
    max-width: 270px;
  }
}
