@media (max-width: 1000px) {
  body {
    height: 100%;
  }

  .title p {
    min-width: 358px;
    max-width: 400px;
  }

  .authuser {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .authuser .row {
    width: 100%;
  }
}

@media (max-width: 992px) {
  #root .top-wrapper {
    height: 100% !important;
  }

  .container {
    height: 100% !important;
  }

  .authuser {
    margin-top: 30px;
  }

  .navbar-wrapper {
    position: unset;
    width: 100%;
  }

  .authuser .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px;
  }

  .authuser .row .col form {
    margin-bottom: 20px;
    max-width: 510px;
    min-width: 450px;
  }

  .authuser .row .col .title p {
    min-width: 360px;
    max-width: 360px;
  }

  .authuser .title p br:nth-child(1) {
    display: none;
  }

  .authuser .row .col {
    display: -webkit-box;
    display: -ms-flexbox !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .authuser .row .col .wrapper-auth {
    min-width: 500px;
    max-width: 500px;
  }

  .authuser .row .col form {
    margin-bottom: 20px;
    min-width: 400px;
    max-width: 400px;
  }
}

@media all and (max-width: 540px) and (min-width: 500px) {
  .container {
    height: 100%;
  }

  .navbar-wrapper {
    position: unset;
    width: 100%;
  }

  .authuser .row {
    width: 100%;
  }

  .navbar-wrapper {
    position: unset;
    width: 100%;
  }

  .authuser .row .col .title p {
    min-width: 300px;
    max-width: 300px;
  }

  .authuser .row .col .wrapper-auth {
    min-width: 400px;
    max-width: 400px;
  }

  .authuser .row .col form {
    margin-bottom: 20px;
    min-width: 320px;
    max-width: 320px;
  }
}

@media all and (max-width: 500px) and (min-width: 200px) {
  .container {
    height: 100% !important;
  }

  .navbar-brand {
    font-size: 45px !important;
  }

  .navbar-brand span {
    font-size: 16px !important;
  }

  .register {
    margin-top: 70px;
  }

  .authuser .row {
    margin-bottom: 30px;
  }

  .authuser .row .col .title p {
    max-width: 300px;
    min-width: 300px;
    font-size: 40px;
  }

  .authuser .row .col .wrapper-auth {
    min-width: 350px;
    max-width: 350px;
  }

  .authuser .row .col form {
    margin-bottom: 20px;
    min-width: 270px;
    max-width: 270px;
  }
}
